html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* header */
header{
    width: 100%;
    background-color: #ffd500;
    }
#logo {
    display: block;
    width: 200px;
    float: left;
}
#logo img{
    height: 200px;
}
#block-menu{


}
#company-name{
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-style: italic;
    color: #0000C0;
}
#menu ul li{
    list-style: none;
    font-family: Arial, sans-serif;
    font-size: 20px;
    display: inline;
    padding-left: 10px;
}
#menu a{
    color: #0000C0;
}
#enter {
    float: right;
font-style: oblique;
  font-family: Arial, sans-serif;
    }
#basket {
    float: right;
}
#basket a img{
    display: block;
    height: 30px;
    width: 30px;
    margin-top: 10px;

}
/*-----footer-----*/
footer{
    height: 200px;
    width: 100%;
    background-color: #ffd500;
}
#menu-footer ul {
    padding: 0px;

}
#menu-footer ul li{
    list-style: none;
    display:inline-block ;
    font-family: Arial, sans-serif;
    text-align: center;
    width: 24%;
}
#menu-footer a{
    font-size: 1.33em;
    color: #0000C0;
}
p{
    float: right;
    color: #0000C0;


}